---
    import Layout from '../components/Layout.astro';
    import Header from '../components/Header.astro';
    import Footer from '../components/Footer.astro';

    const page = 'About'
---

<Layout title={page}>
    <main>
        <div id="content">
            <Header />
            <h1 class="hidden">{page}</h1>
            <div class="flex flex-row mx-4 mb-6 lg:mx-96 lg:my-8 text-center">
                <h2 class="mb-12">About the Instructor</h2>
                <img src="../public/images/jpm.png">
                <p>Julia Paganelli Marín is a poet in Fayetteville, Arkansas, with more than six years of teaching
                    experience. She holds an MFA in Creative Writing from the University of Arkansas and received the
                    Open
                    Mouth poetry residency in March 2022. She is a recipient of the Lily Peter Fellowship (2015) and the
                    runner up for Poets & Writers’ Maureen Egan Award (2018). Her editorial work has included reading
                    and
                    selection of work for The Arkansas International and Up North Lit.

                    In addition to her chapbook, Blush Less (Finishing Line Press, 2015), her work has been published in
                    The
                    Journal, Zone 3, Passages North, The Comstock Review, BOAAT Journal and more. </p>
            </div>
            <Footer />
        </div>
    </main>
</Layout>