---
    import Layout from '../components/Layout.astro';
    import Header from '../components/Header.astro';

    const page = 'About'
---

<Layout title={page}>
    <main>
        <div id="content">
            <Header />
            <h1>{page}</h1>
            <h2>About the instructor</h2>

            <footer class="footer">
                <!--Made with love by WKCODES-->
            </footer>
        </div>
    </main>
</Layout>