---
    import Layout from '../components/Layout.astro';
    import Header from '../components/Header.astro';
    import Footer from '../components/Footer.astro';
---

<Layout title="Bee Balm">
    <main>
        <div class="mx-4 mb-6 lg:mx-96 lg:my-8 text-center">
            <Header />
            <div class="flex flex-col">
                <h2 class="mb-4">Bee Balm</h2>
                <b>
                    <h3 class="mb-4">A community writing experience</h3>
                </b>
                <p class="mt-4">Quilting bees in the mid-19th century were ways that folks could show off their fancy
                    stitching and make unique and useful art together. Maybe you, too, have soft memories of these kinds
                    of get-together, grandparents or parents bickering, joking, and chuckling over potlucks or bake
                    sales or craft fairs. It’s soothing to make something special and share it with your people.
                </p>
                <br>
                <img class="self-center " src="/images/single_bee_balm.png">
                <p class="mt-4">
                    Sometimes people ask what poetry is <i>good for.</i> Poetry for a writer can be an art, a spiritual
                    practice, a brain puzzle, and a way to seek truth in yourself and in the world around you. We also
                    use poems when we need to put words in a room between us, to connect us over one emotion: new love,
                    weddings, funerals, and even political upheaval. Poetry is there when we want to find unity.
                </p>
                <br>
                <p class="mt-4">
                    Bee Balm is also a flower that belongs to Arkansas, drawing bees and butterflies to its fluffy
                    firework blossoms.
                </p>
                <button onclick="window.location.href='/register';" class="button self-center mb-4 mt-4">Write with Bee
                    Balm</button>
            </div>
            <Footer />
        </div>
    </main>
</Layout>