---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Bee Balm'>
  <main>
    <div class='mx-4 mb-6 lg:mx-96 lg:my-8'>
      <Header />
      <div
        class='flex flex-col md:flex-row-reverse card_box space-around mb-36 mt-8 mx-10'
      >
        <div>
          <h1 class='headline mb-4'>Find a new way into your own story</h1>
          <p>
            Sometimes people ask what poetry is good for. Poetry for a writer
            can be an art, a spiritual practice, a brain puzzle, and a way to
            seek truth in yourself and in the world around you. We also use
            poems when we need to put words in a room between us, to connect us
            over one emotion: new love, weddings, funerals, and even political
            upheaval. Poetry is there when we want to find unity.
          </p>
        </div>
        <img
          src='public/images/the_artists_garden_in_argenteuil_(a_corner_of_the_garden_with_dahlias)_1991.27.1.jpg'
          class='rounded-md md:w-1/2 md:h-1/2 self-center'
        />
      </div>
      <div
        class='flex flex-col md:flex-row card_box space-around mb-36 mt-8 mx-10'
      >
        <div>
          <h1 class='headline mb-4'>Find a new way into your own story</h1>
          <p>
            Sometimes people ask what poetry is good for. Poetry for a writer
            can be an art, a spiritual practice, a brain puzzle, and a way to
            seek truth in yourself and in the world around you. We also use
            poems when we need to put words in a room between us, to connect us
            over one emotion: new love, weddings, funerals, and even political
            upheaval. Poetry is there when we want to find unity.
          </p>
        </div>
        <img
          src='public/images/woman_seated_under_the_willows_1963.10.178.jpg'
          class='rounded-md md:w-1/2 md:h-1/2 self-center'
        />
      </div>
      <Footer />
    </div>
  </main>
</Layout>
