---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Bee Balm'>
  <main>
    <div class='mx-4 mb-6 lg:mx-96 lg:my-8'>
      <Header />
      <div class='flex flex-row card_box space-around mb-36 mt-8 mx-10'>
        <h1 class='headline'>Find a new way into your own story</h1>
        <img
          src='public/images/the_artists_garden_in_argenteuil_(a_corner_of_the_garden_with_dahlias)_1991.27.1.jpg'
          class='rounded-md md:w-1/2 md:h-1/2 self-center'
        />
      </div>
      <Footer />
    </div>
  </main>
</Layout>
