---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Bee Balm'>
  <main>
    <div class='mx-4 mb-6 lg:mx-96 lg:my-8'>
      <Header />
      <div
        class='flex flex-col md:flex-row-reverse card_box space-around mb-2 lg:mb-12 mt-4 lg:mt-12 mx-10'
      >
        <div>
          <h2 class='mb-2 lg:mb-5'>Bees</h2>
          <p>
            Quilting bees in the mid-19th century were ways that folks could
            show off their fancy stitching and make unique and useful art
            together. Maybe you, too, have soft memories of these kinds of
            get-together, grandparents or parents bickering, joking, and
            chuckling over potlucks or bake sales or craft fairs. It’s soothing
            to make something special and share it with your people.
          </p>
        </div>
        <img
          src='/images/jerusalem_artichoke_flowers_1963.10.181.jpg'
          class='-order-2 lg:-order-first painting_boxes rounded-md md:w-1/2 md:h-1/2 self-center'
        />
      </div>
      <div
        class='flex flex-col md:flex-row card_box space-around mb-2 mt-8 mx-10 lg:mb-12'
      >
        <div>
          <h2 class='headline mb-2 lg:mb-5'>Poetry</h2>
          <p>
            Sometimes people ask what poetry is good for. Poetry for a writer
            can be an art, a spiritual practice, a brain puzzle, and a way to
            seek truth in yourself and in the world around you. We also use
            poems when we need to put words in a room between us, to connect us
            over one emotion: new love, weddings, funerals, and even political
            upheaval. Poetry is there when we want to find unity.
          </p>
        </div>
        <img
          src='/images/woman_seated_under_the_willows_1963.10.178.jpg'
          class='-order-2 lg:-order-first painting_boxes rounded-md md:w-1/2 md:h-1/2 self-center'
        />
      </div>

      <div
        class='flex flex-col md:flex-row-reverse card_box space-around mb-16 lg:mb-18 mt-8 mx-10'
      >
        <div>
          <h2 class='headline mb-2 lg:mb-5'>Author</h2>
          <p>
            Julia Paganelli Marin is an educator and poet in Northwest Arkansas.
            She is the creator and instructor at Bee Balm Arkansas, a community
            writing practice that centers kindness and attention and engages
            writers of all levels.
          </p>
        </div>

        <img
          src='/images/JPM.jpeg'
          class='-order-2 lg:-order-first painting_boxes rounded-md self-center lg:justify-start'
        />
      </div>

      <Footer />
    </div>
  </main>
</Layout>
