---
  import Layout from '../components/Layout.astro';
  import Header from '../components/Header.astro';
  import Footer from '../components/Footer.astro';
---

<Layout title="Bee Balm">
  <main>
    <div class="mx-4 mb-6 lg:mx-96 lg:my-8 text-center">
      <Header />
      <div class="flex flex-col">
        <h2 class="mb-4">Beginner + Intermediate Poetry Workshop</h2>
        <h3 class="mb-2">Course info: </h3>
        <p class="mb-2">Tuesdays, 6-8 p.m. at <a href="https://www.pearlsbooks.com/">Pearl’s Books</a> in Fayetteville
        </p>
        <p class="mb-2">October 18, 2022 - November 15, 2022; November 29, 2022</p>
        <p class="mb-2">Fee: $250*</p>
        <p class="mb-8">Must be 18+</p>
        <button onclick="window.location.href='/register';" class="button self-center mb-4">Write with Bee
          Balm</button>
        <p class="mb-6 self-center max-w-[500px]">*If you are unable to afford the fee for this course, please reach out
          to Julia.
          There
          are a
          limited number of
          spots available for $100. If you would like to help pay the cost for someone else, please reach out as well.
        </p>
        <img src="/images/bee_balm_flowers.png" class="w-1/2 h-1/2 self-center">
        <p class="mt-6">
          <b class="underline">Find a new way into your own story.</b> Join us for Bee Balm, a lively six-week workshop
          where
          you can
          explore
          the
          moments of your life through poetry. Share your own flair and be floored by the writing of others. Find
          parallels between your story and others’, and let your voice ring out.
        </p>
        <p class="mt-6">
          <b class="underline">What will I do in this workshop?</b>
          You’ll have the opportunity to write, revise, and share your poems with a community of attentive, curious
          writers like you. This workshop will center on drafting, especially for the first few weeks, so you don’t need
          to bring anything to the workshop. Bring your favorite writing instruments, paper or digital.
        </p>
        <p class="mt-6">
          <b class="underline">What will I create by the end of this workshop?</b>
          One poem you write will be included in a chapbook, or small book of poems, which will be available for
          purchase at Pearl’s Books in Fayetteville. The chapbook will be crafted by poet Gwyn Hill.
        </p>
        <p class="mt-6">
          Our last workshop meeting on November 29 will be a reading so you can share the work you’re proudest of.
        </p>
        <p class="mt-6">
          <b class="underline">How big will the workshop be?</b>
          Only 10 people total will be in this workshop so writers will have time to share their work and receive
          feedback.
        </p>
      </div>
      <Footer />
    </div>
  </main>
</Layout>