---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Bee Balm'>
  <main>
    <div id='header_wrapper' class='mx-4 mb-6 xl:mx-72 lg:my-8'>
      <Header />
      <div
        class='flex flex-col md:flex-row-reverse card_box space-around mb-2 lg:mb-12 mt-4 lg:mt-12 mx-10'
      >
        <div>
          <h2 class='mb-2 lg:mb-5'>
            Sometimes people ask what poetry is good for.
          </h2>
          <p>
            Poetry for a writer can be an art, a spiritual practice, a brain
            puzzle, and a way to seek truth in yourself and in the world around
            you. We also use poems when we need to put words in a room between
            us, to connect us over one emotion: new love, weddings, funerals,
            and even political upheaval. Poetry is there when we want to find
            unity.
          </p>
        </div>
        <img
          src='/images/jerusalem_artichoke_flowers_1963.10.181 (1).jpg'
          class='-order-2 lg:-order-first painting_boxes rounded-md md:w-1/2 md:h-1/2 self-center'
        />
      </div>
      <div
        class='flex flex-col md:flex-row card_box space-around mb-2 mt-8 mx-10 lg:mb-12'
      >
        <div>
          <h2 class='headline mb-2 lg:mb-5'>
            Bee Balm Arkansas is a community writing experience in Fayetteville,
            Arkansas.
          </h2>
          <p>
            Bee Balm Arkansas centers kindness and attention and engages writers
            of all levels. If you've ever been discouraged from creating, had a
            hard time putting an idea on the page, or struggled to find the
            right words, welcome! Bee Balm Arkansas is a place to try writing
            again. We believe writing together is worth doing, and we're so
            happy you're here. Follow us on Instagram for news about upcoming
            events.
          </p>
        </div>
        <img
          src='/images/woman_seated_under_the_willows_1963.10.178 (1).jpg'
          class='-order-2 lg:-order-first painting_boxes rounded-md md:w-1/2 md:h-1/2 self-center'
        />
      </div>

      <div
        class='flex flex-col md:flex-row-reverse card_box space-around mb-16 lg:mb-18 mt-8 mx-10'
      >
        <div>
          <h2 class='headline mb-2 lg:mb-5'>Julia Paganelli Marín</h2>
          <p class='mb-2'>
            Julia is an educator and poet in Northwest Arkansas with more than
            ten years of teaching and tutoring experience. She is the creator
            and instructor at Bee Balm Arkansas.
          </p>
          <p>
            You can contact Julia by emailing her at
            <a href='mailto:julia@beebalmarkansas.com'
              >julia@beebalmarkansas.com</a
            >.
          </p>
        </div>

        <img
          src='/images/JPM.jpeg'
          class='-order-2 lg:-order-first painting_boxes rounded-md self-center lg:justify-start'
        />
      </div>

      <Footer />
    </div>
  </main>
</Layout>
