---
  import Layout from '../components/Layout.astro';
---

<Layout title="Bee Balm">
  <main>
    <div id="content">
      <div class="header">
        <h1>Bee Balm</h1>
      </div>
      <div class="resource-list">
        <ul>
          <li>
            <a href="https://ntl.fyi/38O9wmY">Netlify Blog: Astro posts</a>
          </li>
          <li>
            <a href="https://ntl.fyi/3KHGtyz">Netlify Docs</a>
          </li>
          <li>
            <a href="https://docs.astro.build/en/getting-started/">Astro Docs</a>
          </li>
        </ul>
      </div>
      <footer class="footer">
        Made with <a href="https://ntl.fyi/3P0dwBi"><img
            src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646714899/netliheart_ezlkim.svg"
            alt="Netlify Logo" /></a> for you!
      </footer>
    </div>
  </main>
</Layout>