---
    import Layout from '../components/Layout.astro';
    import Header from '../components/Header.astro';
    import Footer from '../components/Footer.astro';

    const page = 'Instructor    '
---

<Layout title={page}>
    <main>
        <div id="content">
            <Header />
            <h1 class="hidden">{page}</h1>
            <div class="mx-4 mb-6 lg:mx-96 lg:my-8 text-center">
                <h2 class="mb-12">About the Instructor</h2>
                <div class="flex flex-col lg:flex-row gap-2 place-content-center">
                    <img class=" lg:max-w-[500px] max-h-[600px] md:h-max self-center mb-6" src="/images/jpm.png">
                    <div class="self-center lg:ml-12 lg:w-[500px] lg:mb-12 lg:mt-6">
                        <p>Julia Paganelli Marín is a poet in Fayetteville, Arkansas,
                            with
                            more than six
                            years of teaching
                            experience. She holds an MFA in Creative Writing from the University of Arkansas and
                            received
                            the
                            <a href="https://openmouthliterary.org/programs/residency/">Open
                                Mouth poetry residency</a>in March 2022. She is a recipient of the Lily Peter Fellowship
                            (2015)
                            and
                            the
                            runner up for Poets & Writers’ Maureen Egan Award (2018). Her editorial work has included
                            reading
                            and
                            selection of work for <a href="https://www.arkint.org/">The Arkansas International<a /> and
                                <a href="https://upnorthlit.org/">
                                    North Lit.</a>
                        </p>
                        <br>
                        <p>

                            In addition to her chapbook, <a
                                href="https://www.finishinglinepress.com/product/blush-less-by-julia-paganelli/">Blush
                                Less </a>(Finishing Line Press, 2015), her work has been
                            published in
                            <a href="http://thejournalmag.org/archives/14565"><i>The Journal</i></a>
                            , <a href="https://www.spdbooks.org/Products/0888099308/zone-3-vol-34-no1-spring-2019.aspx">Zone
                                3</a>, <a
                                href="https://www.passagesnorth.com/passagesnorthcom/2018/10/16/moon-haunt-by-julia-paganelli-marin">Passages
                                North,</a> The Comstock Review, BOAAT Journal and more.
                        </p>
                    </div>
                    <br>
                </div>
                <div class="flex flex-col">
                    <h2 class="mb-4">Readings</h2>
                    <p class="lg:w-[400px] self-center">Open Mouth Reading Series (Fayetteville, AR) July 2022
                        MFA Thesis Reading (Fayetteville, AR) May 2018
                        Impossible Language Reading Series (Memphis, TN) April 2017
                        9 by the Light (Fayetteville, AR) Spring 2016
                        Nightbird Books (Fayetteville, AR) Fall 2015
                        Waynesburg University Reading (Waynesburg, PA) Fall 2015
                    </p>
                </div>
            </div>
            <Footer />
        </div>
    </main>
</Layout>