:root {
  font-family: 'Raleway', sans-serif;
}

html {
    font-family: var(--main-family);
    min-height: 100%;
    text-align: center;
}

nav {
  list-style-type: none;
}

.button {
  color: whitesmoke;
  border-style: dashed;
  background-color: #21a69a;
  padding: 12px;
  border-radius: 10px;
  max-width: 400px;
}

a { 
  color: purple;
}
a:hover {
  color: #a30122;
}
