:root {
  font-family: Averia Serif Libre;
  font-weight: 300;
  color: #FCF8F4;
  background-color: #AE5032;
}

nav {
  list-style-type: none;
}

img {
  border-width: .2rem;
  border-style: solid;
}


.painting_boxes_wrapper {

}

@media screen 
and (min-device-width : 768px){
  .painting_boxes {
    max-width: 30rem;
  }
}

@media screen
and (min-device-width : 800px){
  .painting_boxes {
    max-width: 20rem;
  }
}

.button {
  color: red;
  background-color: green;
  border-style: dashed;
  padding: 12px;
  border-radius: 10px;
  max-width: 400px;
}

a:hover {
  color: #ae5032;
}

.headline {
}

.card_box{
  align-items: center;
  gap: 3rem;
}
