/* make it so the root falls back to something more neutral, setup a class for the headers and whatever needs Monarcha */

:root {
  font-family: Averia Serif Libre;
  font-weight: 300;
  font-size: 16;
  color: #FCF8F4;
  background-color: #AE5032;
}

p {
  font-family: poppins;
}

form {
  border: yellow;
  border-style: dotted;
  border-width: 5px;
}

@media screen 
and (min-device-width : 768px){
  .mobile-only-logo {
    font-size: 3rem;
  }
}

.big-only-logo{
  font-size: 3rem;
}

@media screen 
and (max-device-width: 640px){
  .big-only-logo {
    display: none;
  }
}

.small-only-logo{
  border: none;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  overflow: visible;
}

@media screen 
and (min-device-width : 640px){
  .small-only-logo {
    display: none;
  }
}

h2 {
  font-size: 2rem;
}

@media screen 
and (min-device-width : 768px){
  .h2 {
    font-size: 3rem;
  }
}

nav {
  list-style-type: none;
}

@media screen 
and (min-device-width : 768px){
  .painting_boxes {
    max-width: 30rem;
  }
}

@media screen
and (min-device-width : 800px){
  .painting_boxes {
    max-width: 20rem;
  }
}

.button {
  color: black;
  background-color: yellow;
  border-style: dashed;
  padding: 12px;
  border-radius: 10px;
  max-width: 400px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  margin-bottom: 4rem;
}

input {
  background-color: yellow;
  color: black;
}

a:hover {
  color: #AAA671;
}

.card_box{
  align-items: center;
  gap: 3rem;
}
