<main>
  <footer class='flex flex-col justify-center'>
    <div class='flex gap-x-5 justify-center mb-8'>
      <a href='https://www.instagram.com/beebalmarkansas/?hl=en'><i class='fa-brands fa-instagram fa-2xl'></i>
      </a>
      <a href='mailto:julia@beebalmarkansas.com'>
        <i class='fa-regular fa-envelope fa-2xl'></i>
      </a>
    </div>
    <div class='flex gap-x-5 justify-center'>
      <p>
        Made with <i class='fa-regular fa-heart'></i> by <a href='https://github.com/wkcodes'>wkcodes</a>
      </p>
    </div>
  </footer>
</main>