<main class=''>
  <footer class='flex gap-x-5 justify-center'>
    <a href='https://www.instagram.com/beebalmarkansas/?hl=en'
      ><i class='fa-brands fa-instagram fa-2xl'></i>
    </a>
    <a href='mailto:jpaganellimarin@gmail.com'>
      <i class='fa-regular fa-envelope fa-2xl'></i>
    </a>
  </footer>
</main>
