<main class="mb-4 mt-10 lg:my-12">
    <footer class="flex gap-x-5 justify-center">
        <i class="fa-brands fa-instagram fa-2xl"></i>
        <i class="fa-regular fa-envelope fa-2xl"></i>
    </footer>
</main>