<main class="my-16">
    <h1 class="text-center mb-8">Bee Balm</h1>
    <nav class="flex gap-x-5">
        <a href="contact">
            <li class="text-2xl">About</li>
        </a>
        <li class="text-2xl">Bee Balm</li>
        <li class="text-2xl">Writing</li>
        <li class="text-2xl">Contact</li>
    </nav>
</main>