<main class="my-4 lg:my-12">
    <h1 class="text-center mb-4">Bee Balm</h1>
    <nav class="flex gap-x-5">
        <a href="/">
            <li class="text-2xl">Workshop</li>
        </a>
        <a href="/about">
            <li class="text-2xl">About</li>
        </a>
        <a href="/register">
            <li class="text-2xl">Register</li>
        </a>
    </nav>
</main>