<nav class='flex justify-left gap-x-5'>
  <a href='/'> </a><a href='/instructor'>
    <li class='text-2xl'>Instructor</li>
  </a>
  <a href='/register'>
    <li class='text-2xl'>Register</li>
  </a>
  <a href='/about'>
    <li class='text-2xl'>About</li>
  </a>
</nav>
