<main>
    <form name="subscribe" method="POST" data-netlify="true">
        <p>
            <label>Your Name: <input type="text" name="name" /></label>
        </p>
        <p>
            <label>Your Email: <input type="email" name="email" /></label>
        </p>
        <p>
            <button class="button" type="submit">Subscribe</button>
        </p>
    </form>

</main>